@font-face {
    font-family: Oswald-VariableFont;
    src: url('../img/fonts/Oswald/Oswald-VariableFont_wght.ttf');
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-family: os;
}
:root{
    --main-color: rgb(0, 170, 255);
}
body{
    font-family: 'Oswald-VariableFont';
}

header{
    height: 100vh;
    width: 100vw;
    background: url('../img/slider/hinhnen.jpeg') center /cover no-repeat;
}

header::before{
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar .logo{
    font-weight: bold;
    font-size: 2em;
    border: 2px solid #fff;
    padding: 10px 10px;
}

.navbar a{
    color: #fff;
}



.navbar .nav-menu ul{
    display: flex;
}

.nav-menu li a{
   margin: 0 15px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}


.nav-menu li.active a{
    background-color: var(--main-color);
    font-weight: 600;
    color: #000;
}

.nav-menu li:hover a{
    background-color: var(--main-color);
    color: #000;
}

.navbar .menu-hamburger{
    position: absolute;
    top: 50px;
    right: 30px;
    width: 35px;
    display: none;
}




@media screen and (max-width: 900px) {
    .navbar{
        padding: 40px 15px;
    }
    .navbar .menu-hamburger{
        display: block;
    }

    .navbar .menu-hamburger{
        position: absolute;
        top: 50px;
        right: 50px;
        
    }

    .navbar .logo{
        font-size: 23px;
        top: 40px;
        left: 0px;
        max-width: 80%;
    }

    .nav-menu{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        margin-left: -100%;
    }

    .mobile-menu{
        margin-left: 0;
    }

    .nav-menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li{
        margin: 25px 0;
        font-size: 1.2em;
    }
}
